/* html *
{
   font-size: 16px;
} */

body {
    height: auto;
    background:#FFF;
    font-size: 16px;
}

.dotted_line {
    border-top: 2px dotted #686868;
    width:100%;
    margin-top: 0px;
}

.text{
    font-family: 'Fontin Sans Rg';
    text-align : justify;
}

.text_bold{
    font-family: 'Fontin Sans Rg';
    font-weight: bold;
}

.text_italic{
    font-family: 'Fontin Sans Rg';
    font-style: italic;
    font-size: 16px;
}

/* */
.blue{
    color: #385492;
}

.blue2{
    color: #468499;
}

.blue3{
    color: #47abc8;
}

.blue{
    color: #5373b8;
}

.blue{
    color: #3c62b4;
}

.black{
    color: black;
}

.full{
    width: 100%;
}

.left_column{
    text-align: left;
    width: 25%;
}

.languages_column{
    text-align: left;
    width: 33%;
}

a[href^="mailto:"]
{
    font-family: 'Fontin Sans Rg';
    font-weight: bold;
}

.a4_format{
    margin-left: 8mm;
    margin-top: 8mm;
    width:24cm;
    height:26cm;
}

.list_same_vertical_position{
    padding-left: 20px;
    top: -10px;
    margin-bottom: -5px;
    margin-top: 4px;
}

.pagebreak{
    page-break-before: always;
}

.text_top {
    vertical-align: top;
}

#icon-home {
    width: 25px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}
