.my_name{
    font-family: 'Fontin Sans Rg';
    font-size: 27px;
}

.big_title{
    font-family: 'Fontin Sans Rg';
    font-size: 27px;
}

.small_title{
    font-family: 'Fontin Sans Rg';
    font-size: 19px;
}

.font_awesome_title{
    font-family: 'FontAwesome';
    font-size: 19px;
}

.contact_icon{
    font-size: 16px;
}

.contact_mail{
    font-size: 14px;
}
