.projects_education{
    vertical-align: bottom;
}

.education{
    padding-right: 25px; 
}

.project{
    font-family: 'Source Code Pro Medium';
    text-transform: uppercase;
    font-size: 15px;
    width: 70%;
}

.project_description{
    font-family: 'Fontin Sans Rg';
    color: black;
    vertical-align: top;
}

.volunteering_name{
    vertical-align:top;
    color: inherit;
}

.work_education{
    font-size: 15px;
    font-family: 'Fontin Sans Rg';
    vertical-align: top;
    width: 33%;
}
