.padding_skills{
  padding-right: 25px;
}

.font_awesome_skills{
  font-family: 'FontAwesome';
  font-size: 14px;
  color: black;
}

.oneskill{
  font-size: 16px;
  font-family: 'Fontin Sans Rg';
  width: 66%;
}

.skills_padding{
  padding-right: 3px;
}

.fontin{
  font-size: 19px;
  font-family: 'Fontin Sans Rg';
  color: black;
}

.interest_img{
  width: 19px;
  margin-right: 5px;
}

.padding_right-20{
  padding-right: 50px;
}

.padding_left-20{
  padding-left: 40px;
}