.event_img{
    width: 15px;
    margin-right: 5px;
}

.speciality{
    font-family: 'Fontin Sans Rg';
    font-weight: bold;
    font-size: 15px;
}

.robotics_student_association{
	vertical-align: top;
}