.work_company{
    font-family: 'Source Code Pro Medium';
    font-weight: bold;
    color: black;
    font-size: 19px;
    vertical-align: top;
}

.work_post{
    font-family: 'Source Code Pro Medium';
    font-size: 15px;
}

.work_dates{
    font-family: 'Fontin Sans Rg';
    font-style: italic;
    color: black;
    font-size: 16px;
    vertical-align: top;
}

.work_description{
    font-family: 'Fontin Sans Rg';
    color: black;
    vertical-align: top;
}

.school_company{
    font-family: 'Source Code Pro Medium';
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 19px;
}

.color-inherit{
    color: inherit;
    font-size: 20px;
}

.quadcopter{
  width: 15px;
  padding-right: 5px;
}

/* Get new flags on iconfinder.com */
.flag{
  width: 25px;
  vertical-align: top;
  padding-right: 5px;
}